<header>
  <h1><%= link_to "Quick Chess", root_path %></h1>
  <h2>Player White</h2>
  <h3><%= link_to "Link for Opponent", "/games/#{@game_id}/black" %></h3>
</header>

<article>
  <div id="canvas"></div>
<div id="instructions"></div>
</article>

<script>
  $(function() {
    var p = new Player.Canvas($("#canvas"), "<%= @game_id %>", "white");
    p.checkForMove();
  });

  $(window).on("beforeunload", function() {
    $.ajax({
        url: "/games/" + "<%= @game_id %>",
        type: "PUT",
        data: "forfeit=White&id=" + "<%= @game_id %>"
    });

    // return "Leaving the page will result in a forfeit.";
  });

</script>